*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}
html{
    font-size: 64.5%;
}

body{
background-color: black;
}

.container{
    width: 50%;
    /* height: 80vh; */
    /* margin: 0 auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 5rem;
}
p{
    text-align: center;
}

button{
    width: 10rem;
    height: 5rem;
    background-color: aqua;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s;
    margin: 2rem auto;
    display: block;
}

button:active{
    transform: scale(0.9);
    transition: .5s;
    /* text-align: center; */
}